@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Cham:100,200,300,regular,500,600,700,800,900);

body {
    font-family: "Noto Sans Cham";
    padding: 20px;
    background-color: rgb(0, 43, 0);
    box-sizing: border-box;
}

.page-container {
    max-width: 1100px;
    margin: 0 auto;
}

.response {
    font-weight: bold;
    padding: 12px;
}

textarea {
    width: 100%;
    min-height: 168px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 14px;
    resize: none;
    color: black;
}

.review {
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 20px;
}

.botname {
    text-transform: uppercase;
}

.login {
    color: lime;
    align-items: center;
    text-align: center;
    
  }
  
  .login input {

    min-width: 500px;
    min-height: 30px;
border: 2px solid;
    margin: 10px;

    font-size: 20px;
    text-align: center;
  }
  
  .login label {
    font-size: 20px;
    font-family: "Noto Sans Cham";
    font-weight: bold;
  }
  
  .login button {
    width: 500px;
    height: 50px;
    margin-top: 10px;
    transition: color 0.3s, background-color 0.3s
  }
  
  .login button:hover {
    color: rgb(0, 43, 0);
    transition: color 0.3s, background-color 0.3s
  }

.green {
    background-color: rgb(0, 43, 0);
    color: lime;
    border-color: lime;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.yellow {
    background-color: rgb(68, 60, 0);
    color: yellow;
    border-color: yellow;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.red {
    background-color: rgb(49, 0, 0);
    color: red;
    border-color: red;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.blue {
    background-color: rgb(0, 9, 46);
    color: cyan;
    border-color: cyan;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pink {
    background-color: rgb(46, 0, 20);
    color: magenta;
    border-color: magenta;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.orange {
    background-color: rgb(46, 16, 0);
    color: orange;
    border-color: orange;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.white {
    background-color: black;
    color: white;
    border-color: white;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.black {
    background-color: white;
    color: black;
    border-color: black;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button,
select {
    width: 100px;
    height: 30px;
    border: 2px solid black;
    font-family: "Noto Sans Cham";
    font-weight: bold;
}

select {
    width: 200px;
    margin-top: 2px;
}

.green-button:hover {
    background-color: lime;
    color: rgb(0, 43, 0);
    cursor: pointer;
}

.blue-button:hover {
    background-color: cyan;
    color: rgb(0, 9, 46);
    cursor: pointer;
}

.red-button:hover {
    background-color: red;
    color: rgb(49, 0, 0);
    cursor: pointer;
}

.yellow-button:hover {
    color: rgb(68, 60, 0);
    background-color: yellow;
    cursor: pointer;
}

.orange-button:hover {
    background-color: orange;
    color: rgb(46, 16, 0);
    cursor: pointer;
}

.pink-button:hover {
    background-color: magenta;
    color: rgb(46, 0, 20);
    cursor: pointer;
}

.white-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.black-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:76%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.header {
    margin: 0 auto;
    width: 100%;
}

.eye,
.mouth {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 lime);
    transform: translateX(-8000px);
}

.character-red {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 red);
    transform: translateX(-8000px);
}

.character-blue {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 aqua);
    transform: translateX(-8000px);
}

.character-pink {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 magenta);
    transform: translateX(-8000px);
}

.character-orange {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 orange);
    transform: translateX(-8000px);
}

.character-yellow {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 yellow);
    transform: translateX(-8000px);
}

.character-white {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 white);
    transform: translateX(-8000px);
}

.character-black {
    width: 90%;
    filter: drop-shadow(8000px 0px 0 black);
    transform: translateX(-8000px);
}
.input-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    object-fit: contain;
}

p {
    position: relative;
    max-width: 100%;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border: 2px solid black;
    transform: translateY(-8000px);
}

.green-text {
    filter: drop-shadow(0px 8000px 0 lime);
}

.red-text {
    filter: drop-shadow(0px 8000px 0 red);
}


.pink-text {
  filter: drop-shadow(0px 8000px 0 magenta);
}

.blue-text {
  filter: drop-shadow(0px 8000px 0 aqua);
}


.orange-text {
  filter: drop-shadow(0px 8000px 0 orange);
}
.yellow-text {
    filter: drop-shadow(0px 8000px 0 yellow);
  }

  .black-text {
    filter: drop-shadow(0px 8000px 0 black);
  }


  .white-text {
    filter: drop-shadow(0px 8000px 0 white);
  }

.review-grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.critic-name {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.review-buttons {
    text-align: right;
}

.header-logo {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.login-logo {
    max-width: 30%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}